
.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Psycheros', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 200px;
  font-weight: 600;
  margin: 80px auto;
  padding: 40px;
 
}

.scrollDown {
  text-align: center;
  font-size: 20px;
}

.textSpan {
  display: inline-block;
}

/* nav bar css */

.nav {
  margin: 20px;
  justify-content: space-between;
  
}

.pages {
  margin-top: 10px;
  gap: 20px;
}




.nav, .pages {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
}

.name {
  font-family: 'Marny', sans-serif;
  font-size: 40px;
}




