.mainWrapper {
  // height: 400vh; // 4 panels → 4 * 100vh
  // position: relative;
  display: block;
}

.entirePage {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    // overflow: hidden;
}

.entrance {
  height: 100vh;
  width: 100vw;
  background-color: #3d2d2c;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 100; 
  border-bottom: none;
} 

.archWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 83vh;
  pointer-events: none;
  border-bottom: none;
}

.archWrapper svg {
  // width: 100%;
  // height: 100%;
  display: block;
}

// .entrance::after {
//   content: '';
//   position: relative;
//   bottom: -100px; /* position it below the bottom edge */
//   left: 0;
  
//   z-index: 10;
// }

.arch {
  position: relative;
  // width: 100%;
  // height: 100px; /* size of the pseudo-element */
  // background-color: #ede5d5; /* Color of the page background or next section */
  // border-radius: 50% 50% 0 0; /* creates the arch shape */
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;     
  z-index: 0;
  min-width: 100vw;
  height: 100vh;

}

.header {
  height: 100vh;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 75px;
  padding: 40px;
  position: sticky;
  top: 35%;
  will-change: transform, opacity;
}


.scrollDown {
  text-align: center;
  font-size: 20px;
  position: sticky;
  will-change: transform, opacity;
}

.textSpan {
  display: inline-block;
}

/* nav bar css */

.nav {
  margin: 20px;
  justify-content: space-between;
  
}

.pages {
  margin-top: 10px;
  margin-right: 10px;
  gap: 40px;
}

.pages span {
  cursor: pointer;
  font-size: 22px;
}




.nav, .pages {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
}

.name {
  font-family: 'Marny', sans-serif;
  font-size: 40px;
}


//about section
.about {
min-height: 100vh;
min-width: 100vw;
background-color: #efcfba;
border-radius: 1.5em;
z-index: 10;
position: relative;
padding-top: 50px;
}

.description {
    flex: 1;
    padding: 30px;
    margin-right: 60px;
    font-size: 22px;
    line-height: 1.5;
}

.aboutTitle {
  font-size: 60px;
  // position: absolute;
  top: 0;
}

.aboutGroup {
  display: flex;
  position: relative;
  align-content: center;
  justify-self: center;
  align-items: center;
}

.image{
  width: 60%;
  max-width: 600px;
  border-radius: 10%;
  filter: contrast(1.05) brightness(1.02);
}

.imageDiv {
  flex: 1;
  width: 50%;
  display: flex;
  justify-content: center;
}

//experience section
.experience {
  min-height: 100vh;
  min-width: 100vw;
}

.servicesWrapper {
  height: 350vh; // controls how long the section "holds"
  min-width: 100vw;
  position: relative;
}

.servicesSticky {
  position: sticky;
  top: 0;
  height: 100vh;

  // display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  background: #fff;
}

.servicesHeader {
  font-size: 60px;
  margin-bottom: 80px;
}

.servicesContent {
  position: relative;
  height: 200px;
}

.serviceBlock {
  position: relative;
  width: 100%;
  margin-bottom: 20em;
  background-color: white;
}

.serviceBlock h2 {
  font-size: 50px;
  padding: 30px 0;
}

.serviceBlock p {
  font-size: 25px;
}

.serviceBlock ul {
  padding: 20px 0;
}

.serviceBlock li {
  font-size: 30px;
  margin-left: 40px;
}

.section2Block,
.block3 {
  will-change: transform;
}

//selected work
.selectedWork {
  height: 500vh;
  position: relative;
}

.grid {
  display: grid;
   grid-template-columns: 1fr 2fr;
}

.left {
  position: sticky;
  top: 100px;
  height: fit-content;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.counterWrapper {
  display: flex;
  font-size: 20vw;
  line-height: 0.8;
}

.leading {
  opacity: 0.3;
}

.viewport {
  height: 1em;
  position: relative;
}

.track {
  display: flex;
  flex-direction: column;
}

.track > span {
  display: inline-block;
}

.track span {
  height: 1em;
}

/* RIGHT SIDE */
.right {
  display: flex;
  flex-direction: column;
}

/* EACH PROJECT */
.project {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;

  font-size: 40px;
}


